<div class="container">
  <div class="bs-docs-section">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="card bg-light mb-3" style="max-width: 60rem">
          <ul>
            <div class="card-body">
              <img [src]="job.url_logo_job" class="img-card" />
              <h5 class="card-title">
                {{ job.position }}
                <fa-icon
                  *ngIf="loginStatus"
                  class="btn"
                  [icon]="faEdit"
                  [ngStyle]="{ color: 'black' }"
                  (click)="onEdit(job)"
                ></fa-icon>
                <fa-icon
                  *ngIf="loginStatus"
                  class="btn"
                  [icon]="faTrashAlt"
                  [ngStyle]="{ color: 'black' }"
                  (click)="onDelete(job)"
                ></fa-icon>
              </h5>
              <h6>
                <p class="card-text">
                  {{ job.company }} - {{ job.journal_type }}<br />
                  {{ job.date_start }} - {{ job.date_end }}<br />
                  {{ job.location_job }}
                </p>
              </h6>
              <div class="form-group">
                <form class="add-form" *ngIf="job.edit">
                  <div class="form-control" contenteditable="true">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >Posición:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="position"
                      id="inputSmall"
                      placeholder="{{ this.job.position }}"
                      [(ngModel)]="position"
                    />
                  </div>
                  <div class="form-control">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >Empresa:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="company"
                      id="inputSmall"
                      placeholder="{{ this.job.company }}"
                      [(ngModel)]="company"
                    />
                  </div>
                  <div class="form-control">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >Tipo Jornada:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="journal_type"
                      id="inputSmall"
                      placeholder="{{ this.job.journal_type }}"
                      [(ngModel)]="journal_type"
                    />
                  </div>
                  <div class="form-control">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >Fecha Inicio:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="date_start"
                      id="inputSmall"
                      placeholder="{{ this.job.date_start }}"
                      [(ngModel)]="date_start"
                    />
                  </div>
                  <div class="form-control">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >Fecha Fin:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="date_end"
                      id="inputSmall"
                      placeholder="{{ this.job.date_end }}"
                      [(ngModel)]="date_end"
                    />
                  </div>
                  <div class="form-control">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >Ubicación Laboral:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="location_job"
                      id="inputSmall"
                      [placeholder]="this.job.location_job"
                      [(ngModel)]="location_job"
                    />
                  </div>
                  <div class="form-control">
                    <label
                      class="col-form-label col-form-label-sm"
                      for="inputSmall"
                      >URL Logo Empresa:</label
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      name="url_logo_job"
                      id="inputSmall"
                      placeholder="{{ this.job.url_logo_job }}"
                      [(ngModel)]="url_logo_job"
                    />
                  </div>
                  <button class="btn btn-primary" (click)="onGuardarE(job)">
                    Guardar
                  </button>
                  <button class="btn btn-primary" (click)="onCancelarE(job)">
                    Cerrar
                  </button>
                </form>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
