<div class="container">
  <div class="bs-docs-section">
    <div class="col-lg-12">
      <div class="bs-component">
        <h5 class="card-title">Soft</h5>
        <div class="card bg-light mb-3" style="max-width: 60rem">
          <ul>
            <div class="col-lg-12" style="max-width: 60rem">
              {{ soft.title }} - {{ soft.score }}%
              <fa-icon
                class="btn"
                [icon]="faEdit"
                [ngStyle]="{ color: 'black' }"
                (click)="onEditS(soft)"
              ></fa-icon>
              <fa-icon
                class="btn"
                [icon]="faTrashAlt"
                [ngStyle]="{ color: 'black' }"
                (click)="onDeleteS(soft)"
              ></fa-icon>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  [style.width]= "soft.score+'%'"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <!--<div class="col-lg-2 col-sm-6">
      <div class="icon">
        <canvas id="miCanvas" width="120" height="60">prueba</canvas>
        Cash Flow - 90%
      </div>
    </div>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
