<div class="container">
  <div class="bs-docs-section">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="card bg-light mb-3" style="max-width: 60rem">
          <div class="card-header"><h4>Educación</h4></div>
          <div class="card-body">
            <img src="./assets/logo-UNR-FCEyE.jpg" class="img-card" />
            <h5 class="card-title">Universidad Nacional de Rosario - UNR</h5>
            <p class="card-text"><b>Contador Público</b><br />2000 - 2012</p>
          </div>
          <div class="card-body">
            <img src="./assets/logo-sup-comercio.jpg" class="img-card" />
            <h5 class="card-title">
              Escuela Superior de Comercio "Libertador General San Martin" - UNR
            </h5>
            <p class="card-text"><b>Bachiller Comercial</b><br />1995 - 1999</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
