<div class="container">
  <div class="bs-docs-section">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="card bg-light mb-3" style="max-width: 60rem">
          <div class="card-header"><h4>Educación</h4></div>
          <ul *ngFor="let education of educationList">
            <div class="card-body">
              <img
                [src]="education.url_logo_education" class="img-card">
              <h5 class="card-title">{{education.institute}}</h5>
              <p class="card-text"><b>{{education.title}}</b><br />{{education.year_start}} - {{education.year_end}}</p>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
