<header>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <img src="./assets/logo_arg_prog.jpg" />
      <a
        href="javascript:window.open('https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa')"
        class="navbar-brand"
        >Argentina Programa - #YoProgramo.</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Certificados</a
            >
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="javascript:window.open('./assets/Certif Arg Prog Se Programar 2021.pdf','mywindowtitle','width=500,height=410')"
                >#Sé Programar</a
              >
              <a
                class="dropdown-item"
                href="javascript:window.open('./assets/Libre Office Calc Avanzado - 2º Edición.pdf','mywindowtitle','width=500,height=410')"
                >Libre Office Calc Avanzado</a
              >
              <a
                class="dropdown-item"
                href="javascript:window.open('./assets/G_C_Organizaciones.png','mywindowtitle','width=500,height=410')"
                >Gestion del Cambio en Organizaciones</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-md-auto">
          <li class="nav-item">
            <a
              target="_blank"
              rel="noopener"
              class="nav-link"
              href="https://github.com/Smaknis"
            >
              GitHub
            </a>
          </li>
          <li class="nav-item">
            <a
              target="_blank"
              rel="noopener"
              class="nav-link"
              href="https://ar.linkedin.com/in/sergio-miguel-maknis"
            >
              LinkedIn
            </a>
          </li>
          <!-- <li class="nav-item">
            <a target="_blank" rel="noopener" class="nav-link" role="button">
              <img src="./assets/fa-español.jpg" class="fa fa-github" />
              Español
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" class="nav-link" role="button">
              <img src="./assets/fa-english.jpg" class="fa fa-github" />
              English
            </a>
          </li> -->
          <ul class="nav-item" style="width: 30px">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Login</a
              >
              <div class="dropdown-menu" style="width: 302px; height: 238">
                <form [formGroup]="form"
                  style="padding-right: 5px; padding-left: 5px"
                  class="form-control-sm"
                >
                  <div class="form-group">
                    <div class="form-floating mb-3">
                      <input
                        type="email"
                        class="form-control"
                        [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
                        id="floatingInput"
                        placeholder="name@example.com"
                        formControlName="email"
                      />
                      <label for="floatingInput">Email</label>
                      <div *ngIf="Email?.errors && Email?.touched">
                        <p *ngIf="Email?.hasError('required')" class="text-danger">
                          El email es requerido.
                        </p>
                        <p *ngIf="Email?.hasError('email')" class="text-danger">
                          El formato del email debe ser válido.
                        </p>
                      </div>
                     </div>
                    <div class="form-floating">
                      <input
                        type="password"
                        class="form-control"
                        [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
                        id="floatingPassword"
                        placeholder="Password"
                        formControlName="password"
                      />
                      <label for="floatingPassword">Password</label>
                      <div *ngIf="Password?.errors && Password?.touched">
                        <p *ngIf="Password?.hasError('required')" class="text-danger">
                          La contraseña es requerida.
                        </p>
                        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                          La contraseña debe ser de al menos 8 caracteres.
                        </p>
                      </div>
                    </div>
                    <div style="padding-top: 5px">
                      <button type="submit" class="btn btn-dark">
                        Ingresar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</header>
