<div>
  <img src={{miPortfolio.person.back_image}} class="img-responsive">
</div>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <img src={{miPortfolio.person.url_image}} class="rounded-circle">
        <br><br>
        <h2>{{miPortfolio.person.name}}{{miPortfolio.person.last_name}}</h2>
        <p class="lead">{{miPortfolio.person.position}}<br>{{miPortfolio.person.title}}<br>{{miPortfolio.person.location}}</p>
      </div>
    </div>
  </div>
</div>
