<div class="photo">
  <img src="{{ miPortfolio.person.back_image }}" class="img-responsive" style="width:100%"/>
</div>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <img src="{{ miPortfolio.person.url_image }}" class="rounded-circle" />
        <br /><br />
        <h2>
          {{ miPortfolio.person.name }} {{ miPortfolio.person.last_name }}
          <fa-icon
            *ngIf="loginStatus"
            class="btn"
            [icon]="faPlus"
            [ngStyle]="{ color: 'black' }"
            (click)="switchFormularioPe()"
          ></fa-icon>
          <fa-icon
            *ngIf="loginStatus"
            class="btn"
            [icon]="faEdit"
            [ngStyle]="{ color: 'black' }"
            (click)="onSwitchFormularioPe()"
          ></fa-icon>
          <fa-icon
            *ngIf="loginStatus"
            class="btn"
            [icon]="faTrashAlt"
            [ngStyle]="{ color: 'black' }"
            (click)="onDeletePe(pers)"
          ></fa-icon>
          <form class="add-form" *ngIf="showAgregarPe" [formGroup]="form">
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Nombre:</label
              >
              <input
                class="form-control"
                type="text"
                name="name"
                id="inputSmall"
                placeholder="Agregue nombre"
                [(ngModel)]="name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid': Name?.errors && Name?.touched,
                  'is-valid': !Name?.errors && Name?.touched
                }"
              />
            </div>
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Apellido:</label
              >
              <input
                class="form-control form-control-sm"
                type="text"
                name="last_name"
                id="inputSmall"
                placeholder="Agregue apellido"
                [(ngModel)]="last_name"
                formControlName="last_name"
                [ngClass]="{
                  'is-invalid': Last_name?.errors && Last_name?.touched,
                  'is-valid': !Last_name?.errors && Last_name?.touched
                }"
              />
            </div>
            
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Posición:</label
              >
              <input
                class="form-control form-control-sm"
                type="text"
                name="position"
                id="inputSmall"
                placeholder="Agregue posición"
                [(ngModel)]="position"
                formControlName="position"
                [ngClass]="{
                  'is-invalid': Position?.errors && Position?.touched,
                  'is-valid': !Position?.errors && Position?.touched
                }"
              />
            </div>
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Título:</label
              >
              <input
                class="form-control form-control-sm"
                type="text"
                name="title"
                id="inputSmall"
                placeholder="Agregue título"
                [(ngModel)]="title"
                formControlName="title"
                [ngClass]="{
                  'is-invalid': Title?.errors && Title?.touched,
                  'is-valid': !Title?.errors && Title?.touched
                }"
              />
            </div>
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Ubicación:</label
              >
              <input
                class="form-control form-control-sm"
                type="text"
                name="location"
                id="inputSmall"
                placeholder="Agregue ubicación"
                [(ngModel)]="location"
                formControlName="location"
                [ngClass]="{
                  'is-invalid': Location?.errors && Location?.touched,
                  'is-valid': !Location?.errors && Location?.touched
                }"
              />
            </div>
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Imagen de fondo:</label
              >
              <input
                class="form-control form-control-sm"
                type="text"
                name="back_image"
                id="inputSmall"
                placeholder="Agregue imagen de fondo"
                [(ngModel)]="back_image"
                formControlName="back_image"
                [ngClass]="{
                  'is-invalid': Back_image?.errors && Back_image?.touched,
                  'is-valid': !Back_image?.errors && Back_image?.touched
                }"
              />
            </div>
            <div class="form-control">
              <label class="col-form-label col-form-label-sm" for="inputSmall"
                >Imagen personal:</label
              >
              <input
                class="form-control form-control-sm"
                type="text"
                name="url_image"
                id="inputSmall"
                placeholder="Agregue imagen personal"
                [(ngModel)]="url_image"
                formControlName="url_image"
                [ngClass]="{
                  'is-invalid': Url_image?.errors && Url_image?.touched,
                  'is-valid': Url_image?.errors && Url_image?.touched
                }"
              />
            </div>
            <input
              type="submit"
              value="Guardar datos personales"
              class="btn btn-primary"
              (click)="onAddPe(pers)"
            />
            <input
              type="submit1"
              value="Cerrar"
              class="btn btn-primary"
              (click)="switchFormularioPe()"
            />
          </form>
        </h2>
        <p class="lead">
          {{ miPortfolio.person.position }}<br />{{ miPortfolio.person.title
          }}<br />{{ miPortfolio.person.location }}
        </p>
      </div>
      <div class="form-group">
        <form class="add-form" *ngIf="showEditPe">
          <div class="form-control" contenteditable="true">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Nombres:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="name"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.name }}"
              [(ngModel)]="name"
            />
          </div>
          <div class="form-control">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Apellido:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="last_name"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.last_name }}"
              [(ngModel)]="last_name"
            />
          </div>
          <div class="form-control">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Posición:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="position"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.position }}"
              [(ngModel)]="position"
            />
          </div>
          <div class="form-control">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Título:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="title"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.title }}"
              [(ngModel)]="title"
            />
          </div>
          <div class="form-control">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Ubicación:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="location"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.location }}"
              [(ngModel)]="location"
            />
          </div>
          <div class="form-control">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Imagen de fondo:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="back_image"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.back_image }}"
              [(ngModel)]="back_image"
            />
          </div>
          <div class="form-control">
            <label class="col-form-label col-form-label-sm" for="inputSmall"
              >Imagen personal:</label
            >
            <input
              class="form-control form-control-sm"
              type="text"
              name="url_image"
              id="inputSmall"
              placeholder="{{ this.miPortfolio.person.url_image }}"
              [(ngModel)]="url_image"
            />
          </div>
          <button class="btn btn-primary" (click)="editPe(pers)">
            Guardar
          </button>
          <button class="btn btn-primary" (click)="onSwitchFormularioPe()">
            Cerrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
