<div class="card-body">
    <h5 class="card-title">Hard</h5>
    <ul>
      <div class="col-lg-12" style="max-width: 60rem">
        {{hard.title}} - {{hard.score}}
        <fa-icon
        class="btn"
        [icon]="faEdit"
        [ngStyle]="{ color: 'black' }"
        (click)="onEditH(hard)"
      ></fa-icon>
      <fa-icon
        class="btn"
        [icon]="faTrashAlt"
        [ngStyle]="{ color: 'black' }"
        (click)="onDeleteH(hard)"
      ></fa-icon>
    </div>
    </ul>
    <!--<div class="col-lg-2 col-sm-6">
      <div class="icon">
        <canvas id="miCanvas" width="120" height="60">prueba</canvas>
        Cash Flow - 90%
      </div>
    </div>-->
  </div>
  
