<div class="container">
    <div class="bs-docs-section">
      <div class="col-lg-12">
        <div class="bs-component">
          <div class="card bg-light mb-3" style="max-width: 60rem;">
            <div class="card-header"><h4>Experiencia Laboral</h4></div>
            <ul *ngFor="let jobs of jobsList">
              <div class="card-body">
                <img 
                [src]="jobs.img" class="img-card">
                <h5 class="card-title">{{jobs.position}}</h5>
                <p class="card-text">{{jobs.companyJournal}}<br>{{jobs.dateStart}} - {{jobs.dateEnd}}<br>{{jobs.ubicationJob}}</p>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
